* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0A192F;
    color: #c4cbca;
}

::selection {
    background-color: #54D5BB;
    color: #0A192F;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #54D5BB;
    border-radius: 5px;
}

/* Navigation */
.nav-menu li {
    list-style: none;
}

.nav-items a {
    /* border: 1px solid red; */
    color: #c4cbca;
    text-decoration: none;
    padding: 0.3em 1.8em;
    font-size: 1.5em;
    font-weight: 500;
}

.nav-bar {
    /* border: 1px solid white; */
    box-shadow: 3px 3px 5px #1d6feb;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #0A192F;
    z-index: 999;
    padding: 0 3%;
}

.nav-menu {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 1.6em;
    color: #fff;
    font-style: oblique;
    font-weight: bolder;
}

.logo span {
    color: #54D5BB;
}

.nav-links:hover {
    background-color: #54D5BB;
    color: #0A192F;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.menu-bar {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c4cbca;
}

@media(max-width: 1200px) {
    .menu-bar {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background-color: #0A192F;
        width: 100%;
        text-align: center;
    }

    .nav-items {
        margin: 16px 0px;
    }

    .nav-menu.active {
        animation-name: nav;
        animation-duration: 3s;
        animation-timing-function: ease;
        left: 0px;
        box-shadow: 3px 3px 5px #1d6feb;
    }

    @keyframes nav {
        from {
            left: -1100px;
        }
    }

    .menu-bar.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-bar.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-bar.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 500px) {
    @keyframes nav {
        from {
            left: -600px;
        }
    }
}

/* Home */
.home {
    /* border: 1px solid lime; */
    min-height: 100vh;
    width: 100%;
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

#home-1>#pic {
    background-image: url(../Asserts/Pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 10px white);
}

#home-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#home-1>#role {
    color: #54D5BB;
    font-weight: bolder;
    border-bottom: 1px solid #c4cbca;
    padding-bottom: 0.5em;
}

#home-1>#contact {
    /* border: 1px solid lime; */
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0;
}

#contact>i {
    height: 1.5em;
    padding: 0.3em;
    border-radius: 0.3em;
    background-color: #54D5BB;
    color: black;
    font-size: 1.25em;
}

#home-1>#contact span {
    font-size: 1.2em;
    font-weight: bolder;
}

#home-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

#home-2>#intro>h2 {
    font-size: 4em;
    text-shadow: 10px 5px 10px #1d6feb;
    text-align: center;
}

.resume {
    margin: 1.5em 0;
}

.dynamic {
    /* border: 1px solid lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    font-weight: bolder;
    padding: 0 0.5em;
    text-align: center;
}

.dynamic .static {
    color: #54D5BB;
    font-size: 1.5em;
    font-weight: bold;
}

.typing {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.typing li:nth-child(2) {
    margin-left: -25px !important;
}

.typing li:nth-child(1) {
    margin-left: -115px !important;
}

.typing li {
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -285px;
    }
}

.typing li span {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
}

.typing li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0A192F;
    border-left: 2px solid #fff;
    animation: type 2s steps(11) infinite;
}

@keyframes type {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

#home-2>#brief {
    font-weight: 700;
    text-align: justify;
    padding: 0 1em;
}

#home-2>#profile {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home-2>#profile {
    font-size: 1.5em;
    font-weight: bolder;
}

#home-2>#profile i {
    height: 35px;
    border-radius: 5px;
    padding: 3px;
    background-color: #54D5BB;
    color: black;
    font-size: 30px;
}

#arrow {
    background-color: #0A192F !important;
    color: #c4cbca !important;
}

.resume > a {
    text-decoration: none;
    border: 2px solid #54D5BB;
    color: #c4cbca;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.5em;
}

.resume a:hover {
    background-color: #54D5BB;
    color: #0A192F;
}

@media (max-width: 1060px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 520px) {
    #home-1>#pic {
        height: 200px;
        width: 200px;
    }

    #contact>i {
        height: 1.3em;
        padding: 0.22em;
        border-radius: 0.3em;
        background-color: #54D5BB;
        color: black;
        font-size: 0.8em;
    }

    #home-1>#contact {
        gap: 0.2em;
    }

    #home-1>#contact span {
        font-size: 1em;
    }

    #home-2>#intro>h2 {
        font-size: 3em;
        text-shadow: 5px 2px 5px #1d6feb;
    }

    #home-2>#profile {
        font-size: 1em;
        font-weight: bolder;
    }

    .resume {
        margin: 2.5em 0;
    }

    .dynamic .static {
        font-size: 1em;
    }

    .typing li span {
        font-size: 1em;
    }

    .typing li span::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: #0A192F;
        border-left: 2px solid #fff;
        animation: type 2s steps(11) infinite;
    }

    .typing li:nth-child(1) {
        margin-left: -90px !important;
    }
    
    @keyframes type {
        100% {
            left: 100%;
            margin: 0 -35px 0 35px;
        }
    }

    @keyframes slide {
        100% {
            top: -270px;
        }
    }

    .resume a:hover {
        background-color: #54D5BB;
        color: #0A192F;
    }
}

/* Education */
#edu-head {
    /* border: 1px solid red; */
    width: 100%;
    color: #54D5BB;
    text-align: center;
    font-weight: bolder;
    padding: 70px 0 40px 0;
    text-shadow: 0 0 20px #c4cbca;
}

.edu-parent {
    /* border: 1px solid white; */
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.edu {
    /* border: 1px solid lime; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.class,
.name,
.edu-percentage {
    color: #54D5BB;
    font-weight: bold;
}

.name {
    font-size: larger;
}

#line1 {
    border: 1px solid #c4cbca;
    width: 200px;
}

@media (max-width: 1000px) {
    .edu-parent {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5em;
    }

    .edu {
        gap: 2em;
        font-size: larger;
    }
}

/* Skills */
#skill-head {
    /* border: 1px solid red; */
    width: 100%;
    color: #54D5BB;
    text-align: center;
    font-weight: bolder;
    padding: 70px 0 40px 0;
    text-shadow: 0 0 20px #c4cbca;
}

.skills-parent {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 1em;
}

.skill {
    display: flex;
    align-items: center;
    gap: 15px;
}

.skill-name {
    flex: 1.5;
    font-size: 16px;
    font-weight: bold;
}

.progress-bar {
    flex: 3;
    background-color: #c4cbca;
    border-radius: 10px;
    height: 10px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #54D5BB;
    border-radius: 10px 0 0 10px;
    animation-name: progress;
    animation-duration: 3s;
    animation-timing-function: ease;
}

.percentage {
    flex: 0.5;
    font-size: 14px;
    font-weight: bold;
    color: #54D5BB;
}

@keyframes progress {
    from {
        width: 0%;
    }
}


@media (max-width: 650px) {
    .skills-parent {
        grid-template-columns: 1fr;
    }
}

.project-head {
    width: 100%;
    color: #54D5BB;
    text-align: center;
    font-weight: bolder;
    padding: 70px 0 20px 0;
    text-shadow: 0 0 20px #c4cbca;
}

.project-parent {
    /* border: 1px solid white; */
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.project {
    /* border: 1px solid lime; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 2em;
}

.project .title {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    color: #54D5BB;
    border-bottom: 2px solid #ACACA2;
    padding-bottom: 1em;
}

.project .para {
    text-align: justify;
    color: #ACACA2;
}

.project .list {
    color: #54D5BB;
}

.project .btn {
    border: 2px solid #54D5BB;
    color: #54D5BB;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    padding: 0.2em 1em;
}

.project .btn:hover {
    background-color: #54D5BB;
    color: #0A192F;
    font-weight: 550;
}

@media (max-width: 1000px) {
    .project-parent {
        display: grid;
        grid-template-columns: 1fr;
    }
}

#footer {
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}